DirectoryIndex index.php

# enable apache rewrite engine
RewriteEngine on

# set your rewrite base
# Edit this in your init method too if you script lives in a subfolder
RewriteBase /P5-blog/

# Deliver the folder or file directly if it exists on the server
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
 
# Push every request to index.php
RewriteRule ^(.*)$ index.php [QSA]

<Files ^(*.php5|*.php4|*.php|*.php3|*.php2|*.phtml|*.pl|*.py|*.jsp|*.asp|*.htm|*.shtml|*.sh|*.cgi)>
    order deny,allow
    deny from all
</Files>