.photo {
    height: 125px;
    width: 125px;
    border: solid grey 0px;
    border-radius: 65px;
    margin: auto;
      margin-bottom: auto;
    margin-bottom: 15px;
    background-image: url("photo.jpg");
    background-size: 125px 125px;
}