{% include 'header.twig' %}

<!-- Masthead-->
<header class="masthead text-center">
    <div class="container">
        <!-- Contact Section Heading-->
        <h1 class="page-section-heading text-center text-uppercase text-secondary mb-0">Se connecter</h1>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        {% if loginFailed %}
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    <div class="alert alert-danger" role="alert">
                        Erreur dans l'email ou le mot de passe.
                    </div>
                </div>
            </div>
        {% endif %}
        <!-- Login Section Form-->
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-7">
                <form method="post" id="loginForm">
                    <!-- Email address input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="email" name="email" type="email" placeholder="name@example.com" required />
                        <label for="email">Email</label>
                    </div>
                    <!-- Password input-->
                    <div class="form-floating mb-3">
                        <input class="form-control" id="pass" name="pass" type="password" placeholder="*********" required />
                        <label for="pass">Mot de passe</label>
                    </div>
                    <!-- Submit Button-->
                    <button class="btn btn-primary btn-xl" id="submitButton" type="submit">Connexion</button>
                </form>
            </div>
        </div>
    </div>
</header>


<section id="register" class="page-section bg-primary text-white mb-0">

    <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-white">S'enregistrer</h2>

        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="{{ BASEFOLDER }}enregistrement">
                <i class="fa-solid fa-address-card me-2"></i>
                Créer un nouveau compte maintenant</a>
        </div>
    </div>

</section>
        
{% include 'footer.twig' %}