{% include 'header.twig' %}

<!-- Masthead-->
<header class="masthead">
    <div class="container">
        <h1 class="text-uppercase mb-5">Nouveau billet</h1>
        <form method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Titre du billet</label>
                <input type="text" class="form-control col-xs-2" id="title" name="title" placeholder="Titre du billet">
            </div>
            <div class="mb-3">
                <label for="content" class="form-label">Contenu</label>
                <textarea class="form-control" id="content" name="content"></textarea>
            </div>
            <div class="mb-3">
                <label class="input-group-text" for="status">Status</label>
                <select class="form-select" id="status" name="status">
                    <option selected>...</option>
                    <option value="1">En attente</option>
                    <option value="2">Publié</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Envoyer</button>

        </form> 
          
    </div>
</header>

{% include 'footer.twig' %}