<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style/style.css">
        <title>My Webpage</title>
    </head>
    <body>
        <ul id="navigation">
        {% for item in navigation %}
            <li><a href="{{ item.href }}">{{ item.caption }}</a></li>
        {% endfor %}
        </ul>

        <h1>Bienvenue sur le site de Yoann LÉONARD</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores at quas eligendi, corporis molestias quae reiciendis perferendis fugiat soluta ducimus, atque perspiciatis dicta, sapiente quis distinctio praesentium asperiores dolorum laudantium?</p>
        <div>
            <img class="photo" src="public/img/photo.jpg">
            <button>Télecharger le CV (PDF)</button>
        </div>

        <h2>Contact</h2>
        <form>
            <div>
                <label for="name">
                    Nom/Prénom
                </label>
                <input id="name" type="text">
            </div>
            
            <div>
                <label for="email">
                    email
                </label>
                
                <input id="email" type="email">
            </div>
            <div>
                <label for="message">
                    Message
                </label>
                <textarea id="message"></textarea>
            </div>
            <div>
                <input type="submit">
            </div>
        </form>

        <ul>
            <li>
                <a href="https://github.com/GN4RK">GitHub</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/yoann-l%C3%A9onard-8b5b89123/">linkedIn</a>
            </li>
            <li>
                <a href="https://twitter.com/GN4RK">Twitter</a>
            </li>
        </ul>



    </body>
</html>