{% include 'header.twig' %}

<header class="masthead" id="list">

    <div class="container">

        <h1>Mon super blog !</h1>
        <p>Derniers billets du blog :</p>

        {% for item in posts %}
            <div class="news">
                <h3>
                    {{ item.title }}
                    <em>le {{ item.last_update_fr }}</em>
                </h3>
                
                <p>
                    {{ item.header }}
                    <br />
                    <em><a href="./blog/{{ item.id }}">Commentaires</a></em>
                </p>
            </div>
        {% endfor %}

    </div>
    
</header>
        
{% include 'footer.twig' %}
